/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #5f5fc4;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-gray: #4d4d4d;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-reggular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /*Animation  */
  --animation-duration: 300ms;
}

/* Universal Tag */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-reggular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-reggular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__menu {
  display: flex;
}

.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  margin: 0 4px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

/* Home */
#home {
  background: url("/Home/background3.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avartar {
  width: 180px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px var(--color-light-white);
}

.home__title,
.home__discription {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-reggular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: solid 2px var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* Section Common */

.section {
  text-align: center;
  padding: 50px;
}
.section__container {
  max-width: 1100px;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.major__icon {
  width: 170px;
  height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  color: var(--color-blue);

  font-size: 70px;
  line-height: 170px;
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon i:hover {
  color: var(--color-pink);
  transform: rotate(-15deg) scale(1.1);
}
.major__title {
  font-weight: var(--weight-bold);
  margin: 20px 0;
  color: var(--color-grey);
}

/* Job */

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

.job__logo {
  width: 70px;
  height: 70px;
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 24px 40px;
}

.skillset__right {
  flex-basis: 40%;
  height: 300px;
}

.skillset__title {
  color: var(--color-white);
}

.language_name {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  background-color: var(--color-orange);
  width: 100%;
  height: 3px;
}
.language {
  margin: 8px;
}

.skillset__right {
  padding: 16px;
}

.skillset__right li {
  margin: 16px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: solid 1px var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-reggular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.category__count {
  border: solid 1px var(--color-orange);
  border-radius: 50%;
  background-color: var(--color-orange);
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__destcription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__destcription {
  opacity: 0.7;
}

.project__destcription h3 {
  color: var(--color-white);
}

.project__destcription h3:after {
  content: " ";
  position: relative;
  display: flex;
  left: 50%;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  margin-left: -12px;
}

/* Work */

/* Testimonials */

#testimonials {
  background-color: var(--color-light-white);
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avarta {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial__avarta:first-child {
  margin-right: 12px;
}
.testimonial__avarta:nth-child(2) {
  margin-left: 12px;
}
.testimonial__speech {
  padding: 15px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech p {
  color: var(--color-light-grey);
}
.testimonial__speech a {
  color: var(--color-pink);
}

/* Contact */

#contact {
  background-color: var(--color-blue);
}
.contact__title,
.contact__email,
.contact__right,
.contact__tel {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}
.contact__tel {
  margin-top: 12px;
}

.contact__icons {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__icons a :first-child {
  margin-right: 12px;
}
.contact__icons i:hover {
  transform: scale(1.2);
  color: var(--color-pink);
  transition: all var(--animation-duration) ease in;
}
